body {
    font-family: 'COCOGOOSE', sans-serif !important;
    font-size: 14px;
}

.titulo {
    background-color: #FDB700;
}

.inicio {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
